<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technology Watch Blog</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechnologyWatchBlog.styles.css" asp-append-version="true" />
</head>
<body class="app-body">
    <header class="app-header">
        <nav class="app-navbar">
            <a class="app-brand" asp-controller="Home" asp-action="Index">
                AI Tech Watch
            </a>

            <div class="app-nav-links">
                <a asp-controller="Home" asp-action="Index">Accueil</a>
                <a asp-controller="Articles" asp-action="Index">Articles</a>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
